{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Profil de {{ user.firstName }} {{ user.lastName }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Inscrit depuis: {{ user.createdAt|date('d/m/Y') }}</p>
    <!-- Ajoutez d'autres informations de profil ici -->
</div>
{% endblock %}